.about__container {
  text-align: center;
  padding: 3rem;
}
.about__title {
  color: var(--f-color--accent);
}
.about__description {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.about__text {
  margin-top: 2rem;
  color: var(--f-color--dark);
}
.about__image {
  display: none;
}
@media screen and (min-width: 1024px) {
  .about__container {
    padding: 6rem 12rem;
    text-align: left;
  }
}
