@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Lora:wght@500;600&family=Montserrat:wght@500&display=swap');

.font-della{

    font-family: 'Della Respira', serif;
}
.font-lora{

    font-family: 'Lora', serif;
}
.font-montserrat{

    font-family: 'Montserrat', sans-serif;
}