@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 224 142 79;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Della+Respira&family=Lora:wght@500;600&family=Montserrat:wght@500&display=swap");

.font-della {
  font-family: "Della Respira", serif;
}
.font-lora {
  font-family: "Lora", serif;
}
.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
.as-container {
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (min-width: 1024px) {
  .as-container {
    margin-left: 97px;
    margin-right: 97px;
  }
}
* {
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 300vh;
}
.backdrop {
  position: absolute;
  background: linear-gradient(
    0deg,
    #181818 0%,
    rgba(24, 24, 24, 0.82) 26.56%,
    rgba(24, 24, 24, 0) 100%
  );
  bottom: 0;
  left: 0;
  right: 0;
}
.backdrop-about {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  background: linear-gradient(
    180.08deg,
    #000000 -6.51%,
    rgba(24, 24, 24, 0.41) 99.93%
  );
}
@media screen and (min-width: 768px) {
  .backdrop {
    position: absolute;
    background: linear-gradient(
      90deg,
      #181818 0%,
      rgba(24, 24, 24, 0.82) 26.56%,
      rgba(24, 24, 24, 0) 100%
    );
    top: 0;
    bottom: 0;
    left: 0;
  }
}

@media screen and (min-width: 500px) {
  .bg-hero-mobile {
    background-position: center;
    left: 0;
  }
}
