.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/bg-hero-desktop.png);
}
.hero__content {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  text-align: center;
}
.hero__title {
  font-family: "Lora", serif;
  text-transform: uppercase;

  color: #f2f2f2;
  font-size: 20px;
  letter-spacing: 0.06em;
  margin-bottom: 0.5rem;
}
.hero__description {
  font-family: "Montserrat", sans-serif;
  color: #e2e2e2;
  font-size: 20px;
  margin-bottom: 4rem;
}
.hero__ctaButton {
  background-color: #e08e4fcc;
  border-radius: 9px;
  font-size: 24px;
} /* md */
@media only screen and (min-width: 1024px) {
  .hero__content {
    left: 100px;
    top: 160px;
    text-align: left;
    width: 30rem;
  }
  .hero__title {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 2.5rem;
  }
  .hero__title_secondLine {
    margin-left: 116px;
  }
  .hero__description {
    margin-bottom: 2rem;
    font-size: 18px;
  }
  .hero__ctaButton {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__content {
    top: 250px;
  }
  .hero__title {
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 2.5rem;
  }
}
